.completed-order-page {
    padding-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('../../public/panda-background.jpeg'); /* Reuse background */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

.completed-order-page h2 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: #000 2px 2px 2px;
}

.receipt {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 600px;
    width: 90%; /* Responsive width */
    text-align: center;
}

.back-btn {
    padding: 15px 30px;
    background-color: rgba(217, 83, 79, 0.9); /* Same red as other buttons */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    width: 80vh;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    transition: background-color 0.3s;
    align-self: center;
}

.back-btn:hover {
    background-color: rgba(201, 48, 44, 0.9); /* Slightly darker on hover */
}
