.inventory{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
}

.form{
  width: 80%;
  margin-left: 10%;
}

.slice,.slice2,.slice3{
  width: 100%;
  display: grid;
  padding: 20px 0;
  border: solid black 1px;
  border-radius: 10px;
}

.slice{
  grid-template-columns: 1.5fr 1fr 1fr 0.5fr 0.5fr;
}

.slice2{
  grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
}

.slice3{
  grid-template-columns: 4fr 1fr 1fr;
}

.item{
  margin-right: 10px;
  padding-top: 17.5px;
}

.button{
  width: 90%;
  padding: 5px;
  height: 40px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #d62839; /* Slightly darker hover effect */
  transform: translateY(-1px); /* Lift on hover */
  opacity: 0.95;
}