.select-entree-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Prevents any scroll bars from showing up */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-height: 90vh; /* Set to a percentage of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling within the grid */
    box-sizing: border-box;
}

.grid-item {
    padding: 30px; /* Reduce padding slightly to ensure items fit */
    min-height: 100px; /* Set a minimum height to prevent clipping */
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.grid-item.selected {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.05);
}

.next-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #117bef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
}
